.Button {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  border: 0;
  text-align: left;
  padding: 5px 15px;
}

.selected {
  color: #2196f3;
}

.Button:hover {
  cursor: pointer;
  background-color: #f1fcff;
}
.OnlyButton {
  color: #2196f3;
  visibility: hidden;
  font-size: 12px;
  border: 0;
  background-color: inherit;
  margin-left: auto;
}

.Button:hover .OnlyButton {
  visibility: visible;
}
.Button:hover .OnlyButton:hover {
  cursor: pointer;
  color: #0051ff;
}