
.TicketWrapper {
  background-color: white;
  border-radius: 10px;
  display: flex;
  margin-bottom: 15px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.PurchaseSectionWrapper {
  padding: 20px;
  width: 35%;
  min-width: 150px;
  border-right: 1px solid #ddd;
}
.InfoSectionWrapper {
  padding: 20px;
  width: 100%;
}