.button {
  border: 0;
  color: white;
  background-color: #ff6d00;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button:hover {
  cursor: pointer;
  background-color: #ff8124;
}