/* autoprefixer grid: autoplace */

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Regular.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  background-color: #f3f7fa;
  overflow: scroll;
}

body, button {
  font-size: 16px;
  color: #525252;
}

/* Grid markup for autoprefixer*/

.grid {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "header header"
    "filters tickets";
  grid-gap: 15px;
}

.gridHeader {
  grid-area: header;
}

.gridFilters {
  grid-area: filters;
}

.gridTickets {
  grid-area: tickets;
}